<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>外周静脉</key>
	<dict>
		<key>穿刺部位</key>
		<string>915</string>
		<key>日期</key>
		<string>916</string>
		<key>型号</key>
		<string>917</string>
		<key>周围皮肤</key>
		<string>918</string>
		<key>异常情况</key>
		<string>921</string>
	</dict>
	<key>输液港</key>
	<dict>
		<key>穿刺部位</key>
		<string>957</string>
		<key>日期</key>
		<string>958</string>
		<key>型号</key>
		<string>959</string>
		<key>其他补充</key>
		<string>960</string>
		<key>周围皮肤</key>
		<string>961</string>
		<key>异常情况</key>
		<string>964</string>
	</dict>
	<key>动脉</key>
	<dict>
		<key>穿刺部位</key>
		<string>922</string>
		<key>日期</key>
		<string>923</string>
		<key>型号</key>
		<string>924</string>
		<key>周围皮肤</key>
		<string>925</string>
		<key>异常情况</key>
		<string>928</string>
	</dict>
	<key>中心静脉</key>
	<dict>
		<key>穿刺部位</key>
		<string>929</string>
		<key>日期</key>
		<string>930</string>
		<key>型号</key>
		<string>931</string>
		<key>置入长度</key>
		<string>932</string>
		<key>外露长度</key>
		<string>933</string>
		<key>周围皮肤</key>
		<string>934</string>
		<key>异常情况</key>
		<string>937</string>
	</dict>
	<key>脐静脉</key>
	<dict>
		<key>穿刺部位</key>
		<string>938</string>
		<key>日期</key>
		<string>939</string>
		<key>型号</key>
		<string>940</string>
		<key>置入长度</key>
		<string>941</string>
		<key>外露长度</key>
		<string>942</string>
		<key>周围皮肤</key>
		<string>943</string>
		<key>异常情况</key>
		<string>946</string>
	</dict>
	<key>PICC</key>
	<dict>
		<key>穿刺部位</key>
		<string>947</string>
		<key>日期</key>
		<string>948</string>
		<key>型号</key>
		<string>949</string>
		<key>置入长度</key>
		<string>950</string>
		<key>臂围</key>
		<string>951</string>
		<key>外露长度</key>
		<string>952</string>
		<key>周围皮肤</key>
		<string>953</string>
		<key>异常情况</key>
		<string>956</string>
	</dict>
</dict>
</plist>
